.wrapper {
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .btn-prev {
        padding: 10px;
        width: 40px;
        height: 40px;
        font-size: 20px;
        color: var(--primaty-strong);
        border-radius: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease-out;
        margin-right: 5px;

        &:hover {
            cursor: pointer;
        }
    }

    .name {
        flex: 1;
        margin-left: 10px;
        font-size: 22px;
        font-weight: 500;
    }

    .avatar {
        cursor: pointer;
        margin-right: 5px;
    }
}

.menu-profile-chat {
    .btn-un-friend {
        margin-top: 40px;
    }
}
