.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    .chat-icon {
        width: 100px;
        height: 100px;
    }
    .title {
        font-size: 20px;
        text-align: center;
    }
}

.form {
    --label-bgc: #e0e9f9;
    --label-bgc2: #afd7ea;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 300px;
    padding: 20px;

    .input-name {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-weight: 500;
        input {
            padding: 10px;
            margin-top: 10px;
        }
    }

    .input-gender {
        margin: 20px 0 20px;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
                margin-left: 15px;
            }
        }

        input {
            display: none;
            &:checked + label {
                background-color: var(--label-bgc2);
                color: var(--white);
                &::after {
                    background-color: var(--white);
                }
            }
        }

        label {
            position: relative;
            padding: 10px;
            padding-left: 30px;
            font-weight: 500;
            font-size: 18px;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            background-color: var(--label-bgc);
            color: var(--white);
            border-radius: 10px;
            &::after {
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 1000px;
                border: 2px solid var(--white);
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .btn-continue {
        width: 50%;
        margin-left: 50%;
    }
}
