.avatar {
    border-radius: 1000px;
    overflow: hidden;
    border: 1px solid #eee;
}

.large {
    width: 100px;
    height: 100px;
}

.medium {
    width: 50px;
    height: 50px;
}

.msmall {
    width: 40px;
    height: 40px;
}

.small {
    width: 30px;
    height: 30px;
}
