.avatar {
    border-radius: 1000px;
    overflow: hidden;
    border: 1px solid #eee;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.large {
    width: 90px;
    height: 90px;
}

.medium {
    width: 35px;
    height: 35px;
}

.msmall {
    width: 30px;
    height: 30px;
}

.small {
    width: 25px;
    height: 25px;
}
