@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&family=Roboto:wght@400;500&display=swap");

:root {
    --primary: skyblue;
    --primaty-strong: rgb(116, 152, 191);
    --text-color: #000;
    --white: #fff;
    --green: #20e3b2;
    --orange: #ff6651;
    --warning: tomato;
}

* {
    box-sizing: border-box;
    font-family: "Charis SIL", serif;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

body {
    background-color: var(--white);
}

.App {
    max-width: 480px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
